<%- include("../header.ejs") %>

<div id="cpp_grid">
   <div id="cpp_sidebar">
      <div class="sidebarButton">Introduction</div>
      <div class="sidebarButton">Data Types</div>
      <div class="sidebarButton">Variables</div>
      <div class="cpp_sidebar_h1">The Vault</div>
      <div class="cpp_sidebar_h2">Algebra</div>
      <div>Quadratic Equation</div>
      <div>Greatest Common Divisor</div>
   </div>
   <div class="cpp_main">
      <div id="cplusplus_img" class="img"></div>
      <h1>The Vault | I Store My Code Here</h1>
      <div class="cpp_main_grid">
         <div class="cpp_main_grid_1">
            <div><b>I. Functions</b></div>
            <div><a href="/vault/functions/numbers" class="btn3">1. Numbers</a></div>
            <ul class="ul_custom">
               <li>isInteger (c++)</li>
            </ul>
            
         </div>

         <div class="cpp_main_grid_2">
            <div><b>III. Standard Template Library (STL)</b></div>
            <div>1. <a href="/" class="btn3">Placeholder</a></div>           
         </div>

      </div>
  </div>
</div>

<%- include("../footer.ejs") %>