<footer class="footer">
<div class="footer_distortion_top"></div>
<div class="footer_body">
  <div class="footer_flexbox">
    <div class="footer_flexbox_item">
      <div class="footer_flexbox_item_head">CodeGigas</div>
      <div>About Us</div>
      <div>Staff</div>
    </div>
    <div class="footer_flexbox_item">
      <div class="footer_flexbox_item_head">CodeGigas</div>
      <div>Placeholder</div>
    </div>
    <div class="footer_flexbox_item">
      <div class="footer_flexbox_item_head">CodeGigas</div>
      <div>Placeholder</div>
    </div>
  </div>
</div>
</footer>

</body>
</html>