@font-face {
  font-family: "Inter-Black";
  src: url("../fonts/inter/static/Inter-Black-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/inter/static/Inter-Bold-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/inter/static/Inter-ExtraBold-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../fonts/inter/static/Inter-ExtraLight-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/inter/static/Inter-Light-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/inter/static/Inter-Medium-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/inter/static/Inter-Regular-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/inter/static/Inter-SemiBold-slnt=0.ttf");
}

@font-face {
  font-family: "Inter-Thin";
  src: url("../fonts/inter/static/Inter-Thin-slnt=0.ttf");
}