:root {
  --cyberpunk-yellow: #fbef03;
  --yellow2: #f0c018
}

* {
  box-sizing: border-box;
}

/* Reset Stylesheet*/
p, h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 20px;
}

/* Layout - HolyGrail*/
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Inter-Regular';
}
.holygrail-body {
  display: flex;
  flex: 1;
}
main {
  position: relative;
  flex: 1;
}
.holygrail-aside {
  order: -1;
  flex: 0 0 12em;
  background-color: #ece8e1;
}
.holygrail-ads {
  flex: 0 0 12em;
  background-color: #ece8e1;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.nav {
  position: relative;
  z-index: 3;
  background-color: #000000;
  color: white;
  font-family: 'Inter-Medium';
}
.nav__flexbox {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}
.nav__item1 {
  display: flex;
}
.nav__item2 {
  display: flex;
  justify-content: space-evenly;
}
.nav__item3 {
  position: relative;
  display: flex;
}
.nav__logoBtn {
  background-color: #0bc4e2;
  color: black;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
.nav__logoBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav__normalBtn {
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
.nav__normalBtn:hover {
  text-decoration: underline;
  background-color: #0bc4e2;
  color: black;
  cursor: pointer;
}
#nav__account-btn {
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-transform: uppercase;
}
#nav__account-btn:hover {
  background-color: #0bc4e2 !important;
  color: black !important;
  cursor: pointer;
}
#nav__account-btn-arrow {
  padding-left: 5px;
}
#nav__account {
  display: none;
  background-color: #0bc4e2;
  color: black;
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  padding-top: 19px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 2px 20px 1px rgba(118,118,118,.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav__login-btn {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  justify-content: center;
  background: black;
  height: 60px;
  line-height: 60px;
}
.nav__register-btn {
  display: flex;
  color: #000000;
  text-decoration: none;
}

.nav__account_profile {
  padding-bottom: 19px;
  border-bottom: solid 1px #000000;
}
.nav__account_profile p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.nav__account_middle {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #000000;
}
.nav__account_bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav__account-settings-btn {
  color: #000000;
  text-decoration: none;
}
.nav__account-logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: capitalize;
}

#slider_top {
  position: relative;
  z-index: 2;
  height: 20px;
  clip-path: polygon(0% 0%, 0% 30%, 100% 100%, 100% 0%);
  /* background-image: linear-gradient(90deg, #6e156e 50%, #6e156e 100%); */
  background-color: #0bc4e2;
}
#slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  z-index: 1;
  margin-top: -14px;
  margin-bottom: -14px;
  background-image: url("/public/views/slider.jpg");
  background-size: cover;
  height: 476px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}
#slider_item2 {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
#slider_item2_button1 {
  font-family: "Inter-Black", "sans-serif";
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
#slider_item2_button2 {
  font-family: "Inter-Black", "sans-serif";
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
.slider__devil {
  position: relative;
}
.slider__devil-left-horn {
  position: absolute;
  font-size: 14px;
  display: inline-block;
  top: -1px;
  left: 0;
  color: #ff4655;
  transform: rotate(-14deg);
}
.slider__devil-right-horn {
  position: absolute;
  font-size: 14px;
  display: inline-block;
  top: -1px;
  right: 10px;
  color: #ff4655;
  transform: rotate(14deg);
}
.slider_text1 {
  font-family: "Inter-Black", "sans-serif";
  font-variant: petite-caps;
  font-size: 72px;
  margin-block-start: 0px;
  margin-block-end: 25px;
}
.slider_text2 {
  font-family: "Inter-Medium", "sans-serif";
  font-size: 14px;
  color: rgb(221, 221, 221);
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.slider_text3 {
  font-family: "Inter-Black", "sans-serif";
  font-size: 22px;
}
.slider_text4 {
  color: #0bc4e2;
  font-size: 32px;
  text-decoration: none;
  font-variant: petite-caps;
}

@keyframes dreamSkew {
  from{opacity:0.8; transform: translate(1px, 1px); transform: rotate(0.4deg); } 
  to{opacity:1.0; transform: translate(-1px, -1px); transform: rotate(-0.4deg); }
}

#slider_bottom {
  position: relative;
  z-index: 2;
  height: 20px;
  clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 0%);
  background-image: linear-gradient(90deg, #1f1f1f 50%, #1f1f1f 100%);
}

#featured {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  height: 300px;
  background-color: black;
  padding-top: 50px;
}
#featured_item_js { background-image: url("/public/views/js_128x128px.png"); }
#featured_item_cpp { background-image: url("/public/views/cpp_128x144px.png"); }
.featured_items {
  height: 92px;
  width: 92px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  opacity: .7;
  transition: 0.4s;
  cursor: pointer;
}
.featured_items:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.featured_bottom1 {
  position: relative;
  z-index: 2;
  height: 120px;
  margin-top: -120px;
  clip-path: polygon(0% 65%, 15% 50%, 25% 0%, 35% 25%, 40% 18%, 48% 65%, 52% 65%, 60% 18%, 65% 25%, 75% 0%, 85% 50%, 100% 65%, 100% 100%, 0% 100%);
  background: #0bc4e2;
}
.featured_bottom2 {
  position: relative;
  z-index: 2;
  height: 100px;
  margin-top: -100px;
  clip-path: polygon(0 50%, 25% 0, 50% 50%, 75% 0, 100% 50%, 100% 100%, 0% 100%);
  background: white;
}

.todo {
  background-color: black;
  height: 300px;
  clip-path: polygon(0% 0%, 12% 0, 12.5% 8%, 87.5% 8%, 88% 0, 100% 0%, 100% 100%, 88% 100%, 87.5% 92%, 12.5% 92%, 12% 100%, 0% 100%);
  position: relative;
  z-index: 2;
  margin-bottom: -50px;
  margin-top: -25px;
}
.todo::after {
  content: '';
  width: calc(100%);
  height: 296px;
  clip-path: polygon(0% 0%, 11.9% 0, 12.4% 8%, 87.6% 8%, 88.1% 0, 100% 0%, 100% 100%, 88.1% 100%, 87.6% 92%, 12.4% 92%, 11.9% 100%, 0% 100%);
  background: #f2f1ed;
  display: block;
  position: relative;
  top: 2px;
}

.section_delimiter_one {
  position: relative;
  z-index: 3;
  background-image: url(/public/views/f2-bg.png);
  background-color: #0bc4e2;
  width: 40%;
  height: 50px;
  line-height: 50px;
  left: 0;
  right: 0;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  border-radius: 3px;
  margin-top: -25px;
  margin-bottom: -25px;
  margin-left: auto;
  margin-right: auto;
}
.section_delimiter_one::after {
  width: 0px;
    height: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-top: 17.5px solid #0bc4e2;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.progress2 {
  background-image: url(/public/views/tiny-grid.png);
  background-color: #000000;
  position: relative;
  height: 600px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  z-index: 0;
}

.main {
  position: relative;
  z-index: 1;
}

@media (min-width: 1200px) {
  .main {
      width: 1170px;
      margin: auto;
  }
}
@media (min-width: 1600px) {
  .nav__flexbox {
    width: 1600px;
  }
  .main {
    width: 1600px;
    margin: auto;
    padding: 25px;
  }

}

.course_wrapper {
  display: flex;
  flex: 1;
  background-color: #ece8e1;
}
.course {
  padding: 10px 20px;
  background-color: #ffffff;
}
.course a {
  color: #000000;
  text-decoration: none;
}
.course a:hover {
  font-weight: bold;
}
.topic_wrapper {
  display: flex;
  flex: 1;
  background-color: #ece8e1;
}
.topic {
  padding: 10px 20px;
  background-color: #ffffff;
}

.ol_toc {
  background-color: #f4f3f0;
  border: 1px solid #ece8e1;
  margin: 0px;
  padding: 0px;
}

.codegigas_editor {
  width: 100%;
  min-height: 500px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code {
  display: block;
  background-color: #f4f3f0;
  border: 1px solid #ece8e1;
  padding: 5px;
  font-size: 14px;
  white-space: pre-wrap;
}

.code_cmd {
  display: block;
  background-color: #0c0c0c;
  border: 1px solid #000000;
  padding: 5px;
  color: #cccccc;
  font-size: 14px;
  white-space: pre-wrap;
}
.code_normal {
  display: block;
  background-color: #f4f3f0;
  border: 1px solid #ece8e1;
  padding: 5px;
  font-size: 14px;
  white-space: pre-wrap;
}


span.keyword_code {
  background-color: #f4f3f0;
  border: 1px solid #ece8e1;
  padding: 2px;
  white-space: pre-wrap;
  margin-left: 2px;
  margin-right: 2px;
  font-family: monospace;
}

.course_buttons {
  width: 100px;
  background-color: #ff4655;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.breadcrumbs {
  background: #ece8e1;
  padding: 10px 20px;
  font-family: 'Inter-Medium';
}
.breadcrumbs a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.breadcrumbs a:hover {
  font-weight: bold;
}
.breadcrumbs span {
  text-transform: uppercase;
}

.permissions {
  background: #ece8e1;
  padding: 10px 20px;
}
.permissions_head {
  font-family: 'Inter-Bold';
}

.topic_body {
  padding: 5px;
}

.topic_name { 
  width: 82%;
}

.new-topic {
  width: 80%;
  margin: auto;
}

.new-topic_editor {
  min-height: 500px;
  width: 82%;
}

.post_body {
  /* padding: 20px 40px; */
}

/* index.ejs */
.career_paths {
  background-color: #ffffff;
  position: relative;
  font-family: "Inter-Regular", "sans-serif";
  text-align: center;
  z-index: 2;
  margin-top: -25px;
  padding-bottom: 50px;
}
.career_paths_head {
  font-family: "Inter-Black", "sans-serif";
  font-size: 48px;
  margin-block-start: 0px;
  margin-block-end: 15px;
}
.career_paths_description {
  font-family: "Inter-Medium", "sans-serif";
  margin-bottom: 22px;
}

.career_paths_flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.career_paths_card_container {
  position: relative;
  min-width: 250px;
  height: 375px;
  margin-left: 14px;
  margin-right: 14px;
}
.career_paths_item_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  border-style: dashed;
}
.career_paths_item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 2px solid #000000;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  transition: 200ms transform;
}

.career_paths_item:hover {
  transform: translate(-10px, -10px);
  border-color: #0bc4e2;
}
.career_paths_card_head {
  font-family: "Inter-Black", "sans-serif";
}

.courses {
  position: relative;
  background-color: #ece8e1;
  padding-top: 10px;
  padding-bottom: 90px;
}

.footer {
  position: relative;
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer_body {
  height: 100%;
}
.footer_flexbox {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}
.footer_flexbox_item {
  font-family: 'Inter-Medium';
  color: #ffffff;
}
.footer_flexbox_item_head {
  font-family: 'Inter-Black';
  color: #0bc4e2;
}



.courses_header {
  position: relative;
}
.courses_head {
  z-index: 2;
  background: #ece8e1;
  position: relative;
  display: inline-block;
  margin-left: 50px;
  padding-left: 8px;
  padding-right: 8px;
}
.courses_header::after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 4px;
  left: 0;
  right: 0;
  background: #373d47;
  display: block;
  position: absolute;
}

.technologies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.technology {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 320px;
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  margin: 8px;
}

.technology_head {
  display: flex;
}
.technology_image {
  height: 64px;
  object-fit: contain;
}
.technology_name {
  flex-grow: 1;
  font-family: 'Inter-Bold';
  align-self: center;
  text-align: center;
  padding-left: 5px;
}
.technology_description {
  flex-grow: 1;
  padding-top: 10px;
}

.technology_form {
  text-align: center;
}
/** Experiments **/
.custom_btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  /* Clean style */
  
  --button-text-color: #0f1923;
  --button-text-color-hover: #ece8e1;
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --button-inner-border-color: transparent;
  --button-bits-color: #0f1923;
  --button-bits-color-hover: #ece8e1;
  
  position: relative;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.custom_btn::before,
.custom_btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.custom_btn::before {
  top: 0;
  border-bottom-width: 0;
}

.custom_btn::after {
  bottom: 0;
  border-top-width: 0;
}

.custom_btn:active,
.custom_btn:focus {
  outline: none;
}

.custom_btn:active::before,
.custom_btn:active::after {
  right: 3px;
  left: 3px;
}

.custom_btn:active::before {
  top: 3px;
}

.custom_btn:active::after {
  bottom: 3px;
}

.custom_btn__inner {
  position: relative;
  display: block;
  padding: 10px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.custom_btn__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.custom_btn__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.custom_btn__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: black;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.custom_btn__content {
  position: relative;
}

.custom_btn:hover {
  color: var(--button-text-color-hover);
}

.custom_btn:hover .custom_btn__slide {
  width: calc(100% + 15px);
}

.custom_btn:hover .custom_btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.custom_btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: #ff4655;
  --button-inner-border-color: #ff4655;
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}






.sponsors {
  height: 600px;
}

/* Subject */
.section {
  margin-bottom: 10px;
}
.section_name {
  font-family: 'Inter-Bold';
}

/* Topic */
.code_table {
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 25%
}
.code_table th {
    background-color: #e0e0e0;
    border: 1px solid#000000;
    padding: 4px;
}
.code_table td {
    border-right: 1px solid#000000;
    border-right: 1px solid#000000;
    padding: 4px;
    width: 50% ;
    vertical-align: top;
}

/* http://localhost:5000/topics/arrays */
.matrix_grid {
  display: grid;
  grid-template-columns: 60% 15% 5% 15%;
}
.matrix_grid br { display: none; } /* temporary fix for table*/
.matrix_sub1 { grid-column: 1; }
.matrix_sub2 { grid-column: 2; margin-top: auto; margin-bottom: auto; }
.matrix_sub3 { grid-column: 3; margin: auto; font-weight: bolder; font-size: 24px; }
.matrix_sub4 { grid-column: 4; margin-top: auto; margin-bottom: auto; }
.array5x5 {
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 100%;
  margin: auto;
}
.array5x5 td {
  border: 1px solid;
  padding: 5px;
  text-align: center;
}
.array5x5_td_red {
  background: #F25022;
}
.array5x5_td_green {
  background: #7FBA00;
}
.array5x5_td_blue {
  background: #00A4EF;
}
.array5x5_td_orange {
  background: #FFB900;
}

.array5x5explanation {
  border-collapse: collapse;
  border: 1px solid #000000;
  margin: auto;
  text-align: center;
  table-layout: fixed;
  width: 80%;
}
.array5x5explanation th {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 5px;
  text-align: center;
}
.array5x5explanation td {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 5px;
  text-align: center;
}