<%- include("../../header.ejs") %>

<div id="cpp_grid">
  <div id="cpp_sidebar">
    <div class="sidebarButton">Introduction</div>
    <div class="sidebarButton">Data Types</div>
    <div class="sidebarButton">Variables</div>
    <div class="cpp_sidebar_h1">Solutions</div>
    <div class="cpp_sidebar_h2">Algebra</div>
    <div>Quadratic Equation</div>
    <div>Greatest Common Divisor</div>
  </div>
  <div class="cpp_main">

    <div id="cpp_quadratic_equation">
      <h1>Functions</h1>
      <h2>Numbers</h2>
      <div><b>isInteger</b> | c++</div>
      <p>A function is a block of code, which may take some input (arguments), does some specific computation and produces output (return statement). The idea is to put some commonly or repeatedly done task together and make a function so that instead of writing the same code again and again for different inputs, we can call the function. Based on the return type, the function can either return something or nothing (void).</p>
      <div class="io_table_grid">
        <div class="io_table_grid_el1">
          <div class="io_table_grid_el_head">Input</div>
          <div class="io_table_grid_el_body">
            <div>1</div>
            <div>+10</div>
            <div>-100</div>
            <div>one</div>
            <div>-ten</div>
            <div>+on3_hundr3d</div>
          </div>
        </div>
        <div class="io_table_grid_el2">
          <div class="io_table_grid_el_head">Output</div>
          <div class="io_table_grid_el_body">
            <div>true</div>
            <div>true</div>
            <div>true</div>
            <div>false</div>
            <div>false</div>
            <div>false</div>
          </div>
        </div>
      </div>
      <code><%= isInteger %></code>      
    </div>

  </div>
</div>

<%- include("../../footer.ejs") %>