<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cyber Bible</title>
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">

    <!-- Styles -->
    <link rel="stylesheet" href="/resources/style.css">
    <link rel="stylesheet" href="/resources/prism.css"/>

    <!-- Scripts -->
    <script type="text/javascript" src="/resources/functions.js"></script>
    <script type="text/javascript" src="/resources/prism.js"></script>
    <script type="text/javascript" src="/resources/d3.js"></script>
</head>

<body>

<div id="navigation">
    <div id="logo">KARTINKA</div>
    <a id="home" href="/" class="navButton">Home</a>
    <a id="courses" class="navButton">Courses</a>
    <a id="aboutUs" class="navButton">About us</a>
    <a id="login" class="navButton">Log in</a>
</div>