<%- include("header.ejs") %>

    <div id="slider">

    </div>

    <div id="main">
        <a href="/csharp" id="firstLang" class="language">C#</a>
        <a href="/mssql" id="secondLang" class="language">MSSQL</a>
        <a href="/cpp" id="thirdLang" class="language">C++</a> 
        <a href="/javascript" id="javascript_btn" class="language">JS</a> 
        <a href="/biology" id="biology_btn" class="language">Biology</a>
    </div>

    <div id="path">

    </div>

<%- include("footer.ejs") %>