<%- include("../header.ejs"); -%>

<div id="slider_top"></div>
<div id="slider">
    <h1 class="slider_text1">The <span class="slider__devil"><span class="slider__devil-left-horn">&#9650;</span>D<span class="slider__devil-right-horn">&#9650;</span></span>evil's Code Bible</h1>
    <p class="slider_text2">You slowly scroll amids the endless websites, searching for... something certain. You don't know exactly what it is, but you know it's there somewhere.</p>
    <p class="slider_text2">Your gaze suddenly stops at something and a light, but urgent invocation calls you from the other side.</p>
    <p class="slider_text2">You listen to it's call and bravely enter, finding yourself right here, in this hell of a place.</p>

    <div id="slider_item2">
      <div id="slider_item2_button1">Button 1</div>
      <div id="slider_item2_button2">Button 2</div>
    </div>

    <div class="slider_text3">Where you can truly become a <a class="slider_text4" href="https://github.com/Knightwalker">Programmer</a></div>
  </div>
<div id="slider_bottom"></div>

<div id="featured">
  <a href="/courses/javascript"><div id="featured_item_js" class="featured_items"></div></a>
  <a href="/courses/c-plus-plus"><div id="featured_item_cpp" class="featured_items"></div></a>
</div>
<div class="featured_bottom1"></div>
<div class="featured_bottom2"></div>

<!-- <div class="todo"></div> -->
<div class="career_paths">
  <h1 class="career_paths_head">Career Pathways</h1>
  <div class="career_paths_description">Here you can set foot on a guided learning journey towards a certain profession, designed to get you from zero to hero in 1 year.</div>
  <div class="career_paths_flexbox">
    
    <div class="career_paths_card_container">
      <div class="career_paths_item_shadow"></div>
      <a href="/home/js_web" class="career_paths_item">
        <img src="/assets/views/js_64x64px.png"></img>
        <p class="career_paths_card_head">JS Web Developer</p>
        <div>Requirements:</div>
        <ul>
          <li>Math</li>
        </ul>
      </a>
    </div>

    <div class="career_paths_card_container">
      <div class="career_paths_item_shadow"></div>
      <a href="/home/cpp_games" class="career_paths_item">
        <img src="/assets/views/cpp_64x72px.png"></img>
        <p class="career_paths_card_head">C++ Game Developer</p>
        <div>Requirements:</div>
        <ul>
          <li>Math</li>
        </ul>
      </a>
    </div>

  </div>
</div>

<div class="courses">
  <h1 class="courses_head">All Technologies</h1>
  <div>Browse All Courses</div>
  <% for( let index = 0; index < courses.length; index++ ) { %>
    <a href="/courses/<%= courses[index].slug %>"><div><%= courses[index].name %></div></a>
  <% } %>
</div>

<div class="section_delimiter_one">Your Path So Far</div>
<div class="progress2"></div>

<%- include("../footer.ejs"); -%>