<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeGigas</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/layout.css">
  <link rel="stylesheet" href="/public/css/fonts.css">

  <link rel="stylesheet" href="/public/auth/style.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter">

</head>
<body>

<% if(typeof bUserIsAuthenticated !== "undefined" && bUserIsAuthenticated === true) { %> 

  <nav class="nav">
    <div class="nav__flexbox">
      <div class="nav__item1">
        <a href="/" id="home" class="nav__logoBtn noselect">codegigas</a>
      </div>
      <div class="nav__item2">
        <a id="courses" class="nav__normalBtn noselect">Courses</a>
        <a id="courses" class="nav__normalBtn noselect">Paths</a>
        <a id="aboutUs" class="nav__normalBtn noselect">About us</a>
      </div>
      <div class="nav__item3">
        <a id="nav__account-btn" class="noselect"><%- objUser.username %><span id="nav__account-btn-arrow">&#x25BD;</span></a>
        <div id="nav__account">
          <div class="nav__account_profile">
            <p><%- objUser.username %></p>
            <p><%- objUser.email %></p>
          </div>
          <div class="nav__account_middle">
            <a href="/" class="nav__account-settings-btn">Account Settings</a>
          </div>
          <div class="nav__account_bottom">
            <form action="/auth/logout" method="POST">
              <input type="submit" class="nav__account-logout-btn" name="logout" value="Logout">
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
<% } else { %> 

  <nav class="nav">
    <div class="nav__flexbox">
      <div class="nav__item1">
        <a href="/" id="home" class="nav__logoBtn noselect">codegigas</a>
      </div>
      <div class="nav__item2">
        <a id="courses" class="nav__normalBtn noselect">Courses</a>
        <a id="courses" class="nav__normalBtn noselect">Paths</a>
        <a id="aboutUs" class="nav__normalBtn noselect">About us</a>
      </div>
      <div class="nav__item3">
        <a id="nav__account-btn" class="noselect">My Account<span id="nav__account-btn-arrow">&#x25BD;</span></a>
        <div id="nav__account">
          <div class="nav__account_profile">
            <a href="/auth/login" class="nav__login-btn">Log In</a>
          </div>
          <div class="nav__account_middle">
            <a href="/auth/login" class="nav__account-settings-btn">Account Settings</a>
          </div>
          <div class="nav__account_bottom">
            <a href="/auth/register" class="nav__register-btn">Create your Account</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<% } %>

<script>
  const navAccountBtnEl = document.getElementById("nav__account-btn");
  const navAccountBtnArrowEl = document.getElementById("nav__account-btn-arrow");
  const navAccountEl = document.getElementById("nav__account");

  navAccountBtnEl.addEventListener("click", () => {
    const display = window.getComputedStyle(navAccountEl).display;

    if (display == "none") {
      navAccountEl.style.display = "block";
      navAccountBtnArrowEl.innerHTML = "&#x25B3;";
      navAccountBtnEl.style.boxShadow = "rgba(118, 118, 118, 0.5) 0px -2px 20px 0px inset";
      navAccountBtnEl.style.backgroundColor = "#0bc4e2";
      navAccountBtnEl.style.color = "#000000";
    } else {
      navAccountEl.style.display = "none";
      navAccountBtnArrowEl.innerHTML = "&#x25BD;";
      navAccountBtnEl.style.boxShadow = "none";
      navAccountBtnEl.style.backgroundColor = "#000000";
      navAccountBtnEl.style.color = "#ffffff";
    }
  });
</script>