<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/fonts.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter">

</head>
<body>

<nav class="nav">
  <div class="nav_flexbox">
    <div class="nav_item1">
      <a id="home" href="/" class="nav_logoBtn">codegigas</a>
    </div>
    <div class="nav_item2">
      <a id="courses" class="nav_normalBtn">Courses</a>
      <a id="courses" class="nav_normalBtn">Paths</a>
      <a id="aboutUs" class="nav_normalBtn">About us</a>
    </div>
    <div class="nav_item3">
      <a class="nav_loginBtn">Log in</a>
    </div>
  </div>
</nav>