<%- include("../header.ejs"); -%>

<div class="holygrail-body"> 
  <main class="main">
    <h1>C++ Game Developer</h1>
    <p>WIP</p>

    <p>The C++ Game Developer</p>

    <b>Why I love It:</b>
    <ul>
      <li>Wip</li>
    </ul>

    <div>Programming Basics with C++<div>

  </main>
</div>


<%- include("../footer.ejs"); -%>