<%- include("../header.ejs"); -%>

  <main class="main">
    <h1>JS Web Developer</h1>
    <p>JavaScript is a funny, little brat, capricious like a girl, but in the end a very versatile and flexible lady, who is actually also the queen of the modern web. Her popularity is insane and unsurprisingly, for the eighth year in a row, she has maintained it's stronghold as the most commonly used programming language. [1] In her dark past, she was heavily bullied by the big guys out there, for being just that monkey little scripting language that will never grow. [2] Boy were they so wrong. Beautiful in its own way, the language flourished into a very powerfull, high-level, dynamic, just-in-time compiled, multi-paradigm programming language, which has a reasonably elegant core and is getting real tired of your jokes now.</p>

    <p>The JavaScript Web Developer</p>

    <b>Why I love It:</b>
    <ul>
      <li>JavaScript is the undisputed king of modern front-end development.</li>
      <li>It allows both front-end and back-end development with one language.</li>
      <li>There is no other language that I have seen which is as versatile as JavaScript. Technically you can run it anywhere... In a browser, mobile devices</li>
      <li>Very forgiving, which gives freedom to your coding style.</li>
      <li>JavaScript brings even more freedom. It is arguably the most open programming language out there.</li>
    </ul>

    [1] https://insights.stackoverflow.com/survey/2020#most-popular-technologies

    <div>Programming Basics with JS<div>

  </main>


</body>
</html>