<%- include("../header.ejs") %>

<div id="cpp_grid">
  <div id="cpp_sidebar">
    <div class="sidebarButton">Introduction</div>
    <div class="sidebarButton">Data Types</div>
    <div class="sidebarButton">Variables</div>
    <div class="cpp_sidebar_h1">I. Basics</div>
    <div class="cpp_sidebar_h2">1.2. Recursion</div>
    <div>1. Theory</div>
    <div>2. Types of Recursion</div>
  </div>
  <div class="cpp_main">

    <div id="caching">
      <h1>1.3. Caching </h1> 
      <div id="cachingImg" class="printable"></div>
      <p>Caching is a computer science optimization technique that stores the results of resource-consuming computations within a lookup table, allowing subsequent calls to reuse the stored results and avoid repeated computation.</p>
      <p><b>01. IsArrayUnique</b></p>
      <p><b>The problem:</b> Write a function to find if an array contains only unique elements, e.g. <span class="keyword">[1, 2, 3] = true</span></p>
      <p><b>The Normal Solution:</b></p>
      <code class="code_1 printable"><%= isArrayUnique %></code>
      <p><b>The Solution with Caching:</b></p>
      <code class="code_1 printable"><%= isArrayUnique2 %></code>
      
    </div> <!-- END caching -->
     
  </div>
</div>

<%- include("../footer.ejs") %>