<%- include("../header.ejs") %>

<div id="cpp_grid">
  <div id="cpp_sidebar">
    <div class="sidebarButton">Introduction</div>
    <div class="sidebarButton">Data Types</div>
    <div class="sidebarButton">Variables</div>
    <div class="cpp_sidebar_h1">Solutions</div>
    <div class="cpp_sidebar_h2">Algebra</div>
    <div>Quadratic Equation</div>
    <div>Greatest Common Divisor</div>
  </div>
  <div class="cpp_main">

    <div id="biology_class_7">
      <h1>Biology Class 7 - ЕРДОМЕД</h1> 
      <h2>Биология</h2>
      <p>Науки</p>
      <ul>
        <li>Ботаника</li>
        <li>Физиология на растенията</li>
        <li>Зоология</li>
        <li>Екология</li>
        <li>Анатомия</li>
        <li>Микробиология</li>
        <li>Генетика</li>
      </ul>
      <h2>Клетка</h2>
      <p>Структура</p>
      <ul>
        <li>наследствено вещество (може да е в ядрото, може и клетката да няма ядро)</li>
        <li>цитоплазма</li>
        <li>клетъчна мембрана</li>
      </ul>

      <h2>Едноклетъчни организми</h2>
      <h2>Многоклетъчни организми</h2>
      <h2>Жизнени процеси</h2>
      <ul>
        <li>хранене</li>
        <li>дишане</li>
        <li>отделяне</li>
        <li>движение</li>
        <li>размножаване</li>
      </ul>

      <h2>Класификация на организмите (Таксономия)</h2>
      <p></p>Класификация на организмите или систематика е област в биологията, която описва естествените връзки между различните видове организми и ги класифицира по единен начин. Така се постига йерархия в подреждането на организмите, наречена още таксономия.</p>
      <ul>
        <li>империя (domain)</li>
        <li>царство (regnum)</li>
        <li>тип, отдел (phylum, divisio)</li>
        <li>клас (classis)</li>
        <li>разред (ordo)</li>
        <li>семейство (familia)</li>
        <li>род (genus)</li>
        <li>вид (species)</li>
      </ul>

      <h2>Тест 1</h2>
      <p><b>1. Коя от изброените науки НЕ е дял от Биологията?</b></p>
      <p>Астрономия от Физиология, Зоология, Анатомия</p>
      <p><b>2. Коя наука изучава многообразието в растителното царство?</b></p>
      <p>Ботаника</p>
      <p><b>3. Вярно ли е, че едноклетъчните организми имат органи?</b></p>
      <p>Не</p>
      <p><b>4. Как се нарича основната градивна частица на организмите?</b></p>
      <p>Клетка</p>
      <p><b>5. Възможно ли е да съществуват клетки без клетъчни ядра?</b></p>
      <p>Да</p>
      <p><b>6. Подреди структурите, изграждащи многоклетъчния организъм, като започнеш от най-малката.</b></p>
      <p>Клетка -> Тъкан -> Орган -> Система от органи</p>
      <p><b>7. Фотосинтезата е процес, при който:</b></p>
      <p>Растенията сами изграждат хранителните си вещества</p>
      <p><b>8. Какво е общото между растенията и животните?</b></p>
      <p>Те са многоклетъчни</p>
      <p><b>9. Растенията имат специални органи и системи, чрез които отделят излишната вода от тялото си.</b></p>
      <p>Грешно</p>
      <p><b>10. Попълни празните места в текста, като използваш следните думи: зоологията, анатомията, генетиката, физиологията</b></p>
      <p>Анатомията е науката, която изучава вътрешното устройство на организмите, т.е. от какво са изградени те. Физиологията пък изследва процесите, които протичат в тялото на организмите.</p>
      <p><b>11. Каква е същността на процеса дишане?</b></p>
      <p>Организмите приемат кислород, чрез който се разграждат хранителните вещества и се отделя енергия.</p>
      <p><b>12. С какво дишат организмите на картинките? Свържи всеки организъм със съответния термин.</b></p>
      <p>Човек - бели дробове</p>
      <p>Риба - хриле</p>
      <p>Растения - устица</p>
      <p>Пчели - трахеи</p>
      <p><b>13. Защо растенията са толкова важна част от живота на Земята?</b></p>
      <p>защото благодарение на жизнената си дейност в атмосферата се отделя кислород</p>
      <p>защото много животни, включително и човек, използват някои растения за храна</p>
      <p><b>14. Прочети текста и ако има грешки, посочи кои са те: Животните са организми, изградени от голям брой клетки. Много често тези клетки нямат ядра. В тях се извършват разнообразни и много сложни процеси, като различните по вид клетки изпълняват различни функции.</b></p>
      <p>Не е вярно, че животинският организъм може да е изграден от безядрени клетки.</p>
      <p><b>15. Разгледай картинката и попълни пропуснатите думи.</b></p>
  
      <h2>Тест 2</h2>
      <p><b>1. Кой е създал настоящата система за именуване на организмите?</b></p>
      <p>Карл Линей</p>
      <p><b>2. Систематиката е наука, която подрежда организмите в отделни групи спрямо тяхното сходство.</b></p>
      <p>Вярно</p>
      <p><b>3. Кой език е приет за основен при наименуването на организмите?</b></p>
      <p>Латински език</p>
      <p><b>4. Кои организми НЕ са обособени в отделно Царство?</b></p>
      <p>Водорасли</p>
      <p><b>5. Какво е характерно за организмите от царство Растения?</b></p>
      <p>Самостойно хранене</p>
      <p>Неподвижен начин на живот</p>
      <p><b>6. Какво означава понятието "таксон"?</b></p>
      <p>Това е систематична група, която включва организми с определени прилики помежду си.</p>
      <p><b>7. Подреди дадените групи по нарастване на броя организми в тях.</b></p>
      <p>вид</p>
      <p>род > семейство</p>
      <p>разред > клас > тип (отдел)</p>
      <p>царство</p>
      <p><b>8. В коя от посочените групи родството между организмите е най-голямо?</b></p>
      <p>вид</p>
      <p><b>9. Какво е общото между организмите от царство Протиста и тези от царство Монера?</b></p>
      <p>И двете царства включват едноклетъчни организми.</p>
      <p><b>10. Ако два организма принадлежат към различни видове, те могат да се размножават помежду си и да създадат плодовито поколение.</b></p>
      <p>Грешно</p>
      <p><b>11. Свържи показаните организми със съответните им характеристики.</b></p>
      <p>Монера - Едноклетъчни организми / Безядрени организми</p>
      <p>Протиста - Едноклетъчни организми / Клетките имат ядра</p>
      <p>Гъби - Несамостойно хранене / Неподвижен начин на живот</p>
      <p>Животни - Несамостойно хранене / Подвижен начин на живот</p>
      <p><b>12. Ако два различни вида организми са включени в един и същ клас, то те задължително принадлежат към едно и също царство.</b></p>
      <p>Вярно</p>
      <p><b>13. 
        Посочи кое е родовото и кое е видовото име в универсалните имена на Обикновеното кокиче (Galanthus nivalis) и Домашната муха (Musca domestica).</b></p>
      <p>Galanthus - родово име на Обикновеното кокиче</p>
      <p>nivalis - видово име на Обикновеното кокиче</p>
      <p>Musca - родово име на Домашната муха</p>
      <p>domestica - видово име на Домашната муха</p>
      <p><b>14. Coccinella septempunctata (Седемточкова калинка) и Coccinella quinquepunctata (Петточкова калинка) са:</b></p>
      <p>видове от един и същ род</p>
      <p><b>15. 
        За разлика от представителите на царство Гъби, представителите на царство Растения:</b></p>
      <p>имат самостойно хранене</p>

    </div> <!-- END biology_class_7 -->
     
  </div>
</div>

<%- include("../footer.ejs") %>