.globals__btn {
    width: 80px;
}

.globals__container-3x-images-medium {
    display: flex;
}
.globals__container-3x-images-medium img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

/*
* BEGIN "Text with picture"
* @example
* <div class="globals__container-text-x-image-small">
*     <div>
*         <p>Text</p>
*     </div>
*     <img src="Picture">
* </div>
*/
.globals__container-text-x-image-small {
    display: flex;
    white-space: normal;
}

.globals__container-text-x-image-small div {
    flex-grow: 1;
}

.globals__container-text-x-image-small p {
    text-align: justify;
    padding-right: 10px;
    white-space: pre-wrap;
}

.globals__container-text-x-image-small img {
    width: 250px;
    object-fit: contain;
    object-position: top;
}
/* END "Text with picture" */