<%- include("../header.ejs"); -%>

<div class="holygrail-body">
  <main>

    <h1>You Have Register Successfully</h1>
    <p>Please validate your email before you can login.</p>

  </main>
</div>

<%- include("../footer.ejs"); -%>